.formContent {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-top: 30vh;
}

.formContent h1 {
    margin: 10px 0 10px;
}

.formInput {
    display: flex;
    flex-direction: column;
    margin-top: 20px;
}

.formContent label {
    margin-bottom: 10px;
}

.formContent input {
    padding: 10px 10px;
    box-sizing: border-box;
}

.formContent button {
    margin: 20px 0 50px;

}

.ingredients {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}