.nav {
    background-color: gray;
    height: 10vh;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.logo img {
    height: 10.5vh;
}

.nav ul li {
    display: inline-block;
}

.nav ul li a {
    color: white;
    padding: 1rem;
    text-decoration: none;
    text-transform: uppercase;
}

.nav ul li a:active {
    color: rgb(127, 126, 124);
    text-decoration: underline;
}

.nav ul li a:hover {
    color: rgb(88, 87, 86);
    text-decoration: underline;
}