.recipes {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.search {
    margin: 25px 0 25px;
}

.search label {
    margin-right: 10px;
}

.cards {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}