.singleRecipe {
    display: flex;
    flex-direction: column;
}

.singleRecipe h1 {
    text-align: center;
    margin: 2vh 0 2vh;
}

.singleRecipe .middle {
    display: flex;
    flex-direction: row;
}

.singleRecipe img {
    width: 50%;
    margin-right: 5vw;
}

.singleRecipe .prep {
    display: flex;
    flex-direction: row-reverse;
    margin-top: 5vh;
}

.ingredients{
    width: 50vw;
    margin-right: 5vw;
}

.preperations{
    width: 50vw;
}
