.singleRecipe {
    display: flex;
    flex-direction: column;
}

.singleRecipe h1 {
    text-align: center;
    margin: 2vh 0 2vh;
}

.singleRecipe .middle {
    display: flex;
    flex-direction: row;
}

.info {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 0 25px 0;
}

.singleRecipe img {
    width: 50%;

}

.singleRecipe .prep {
    display: flex;
    flex-direction: row-reverse;
    margin-top: 5vh;
}

.description h2 {
    margin-top: 10px;
}

.preperations {
    width: 50vw;
}