.singleRecipe {
    display: flex;
    flex-direction: column;
}

.singleRecipe h1 {
    text-align: center;
}

.singleRecipe .middle {
    display: flex;
    flex-direction: row;
}

.singleRecipe .descript {
    width: 25vh;
}

.singleRecipe .prep {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-evenly;
}

.singleRecipe img {
    width: 50%;
    margin-right: 5vw;
}