a:visited {
    color: rgb(234, 162, 98);
    text-decoration: none;
}

a:hover {
    text-decoration: none;
}

a:active {
    text-decoration: none;
}

a {
    text-decoration: none;
}

button {
    background-color: white;
    border: none;
    color: black;
    padding: 10px 20px;
    text-align: center;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border: 1px solid black;
    border-radius: 6px;
}